= render 'shared/header'

.profiles-background
  .profiles-inner
    .side-contents
      %ul
        %li.current
          =link_to profiles_path do
            プロフィールを編集
        %li
          =link_to edit_password_profiles_path do
            パスワードを変更
    .profiles-edit-box
      =form_with url: "#", local: true do |f|
        .profiles-edit-box__heading
          .profiles-edit-box__heading__left-content
            =image_tag src="user1.png", class: "user-image"
            -# =image_tag src="お洒落画像４.jpg", class: "user-image"
          .profiles-edit-box__heading__right-content
            .username
              username
            .image-edit
              %button.image-edit__button
                プロフィール写真を変更
        .profiles-edit-box__contents
          .profiles-edit-box__contents__text
            %p 名前
          .profiles-edit-box__contents__form
            =f.text_field :nickname, placeholder: "名前", class: "edit-form"
            .addendum
              %p 周りから知られている名前(氏名、ニックネーム、ビジネス名)を使用すると、他の人があなたのアカウントを見つけやすくなります。
        .profiles-edit-box__contents
          .profiles-edit-box__contents__text
            %p ユーザーネーム
          .profiles-edit-box__contents__form
            =f.text_field :username, placeholder: "ユーザーネーム", class: "edit-form"
        .profiles-edit-box__contents
          .profiles-edit-box__contents__text
            %p 自己紹介
          .profiles-edit-box__contents__form
            =f.text_area :text, class: "edit-form__area"
        .profiles-edit-box__contents
          .profiles-edit-box__contents__text
            %p メールアドレス
          .profiles-edit-box__contents__form
            =f.email_field :email, placeholder: "ユーザーネーム", class: "edit-form"
        .profiles-edit-box__contents
          .profiles-edit-box__contents__text
            %p 電話番号
          .profiles-edit-box__contents__form
            =f.telephone_field :phonenumber, placeholder: "電話番号", class: "edit-form"
        .profiles-edit-box__contents
          .profiles-edit-box__contents__text
            %p 性別
          .profiles-edit-box__contents__check
            -# 仮表示
            =check_box_tag :gender1, class: "edit-check-box"
            =label_tag :gender1, "男性"
            =check_box_tag :gender2, class: "edit-check-box"
            =label_tag :gender2, "女性"
            =check_box_tag :gender3, class: "edit-check-box"
            =label_tag :gender3, "その他"
        .profiles-edit-box__submit
          = f.submit "送信する", class: "edit-submit"

= render 'shared/footer'